In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('retrained_cs_dep.csv')

In [3]:
df.head()

   retrained_eng_dep_surp  retrained_zh_dep_surp
0                3.437775               5.452988
1                4.802618               5.815536
2                3.552085               4.259048
3                5.070590               3.656993
4                2.997729               4.729782

In [4]:
len(df)

1476

In [5]:
zh_greater = 0
eng_greater = 0

In [6]:
for index, row in df.iterrows():
    if row['retrained_eng_dep_surp'] > row['retrained_zh_dep_surp']:
        eng_greater +=1
    elif row['retrained_eng_dep_surp'] < row['retrained_zh_dep_surp']:
        zh_greater +=1

In [7]:
print(zh_greater)

761

In [8]:
print(eng_greater)

715

In [3]:
df = pd.read_csv('retrained_cs_ngram.csv')

In [4]:
df.head()

   retrained_eng_ngram_surp  retrained_zh_ngram_surp
0                  5.984415                 7.351441
1                  6.479947                 7.351441
2                  5.313124                 7.039197
3                  6.143123                 7.217810
4                  3.013755                 6.872654

In [5]:
len(df)

1476

In [6]:
eng_greater = 0
zh_greater = 0

In [7]:
for index, row in df.iterrows():
    if row['retrained_eng_ngram_surp'] > row['retrained_zh_ngram_surp']:
        eng_greater +=1
    elif row['retrained_eng_ngram_surp'] < row['retrained_zh_ngram_surp']:
        zh_greater +=1

In [8]:
print(zh_greater)

1041

In [9]:
print(eng_greater)

435

In [16]:
df = pd.read_csv('retrained_non_cs_dep.csv')

In [17]:
df.head()

   retrained_eng_dep_surp  retrained_zh_dep_surp
0                4.938384               4.421023
1                4.733248               4.101531
2                5.233766               4.259048
3                6.209946               3.666723
4                3.333372               5.403542

In [18]:
len(df)

1479

In [21]:
eng_greater = 0
zh_greater = 0

In [22]:
for index, row in df.iterrows():
    if row['retrained_eng_dep_surp'] > row['retrained_zh_dep_surp']:
        eng_greater +=1
    elif row['retrained_eng_dep_surp'] < row['retrained_zh_dep_surp']:
        zh_greater +=1

In [23]:
print(zh_greater)

903

In [24]:
print(eng_greater)

573

In [10]:
df = pd.read_csv('retrained_non_cs_ngram.csv')

In [11]:
df.head()

   retrained_eng_ngram_surp  retrained_zh_ngram_surp
0                  4.377766                 7.239988
1                  4.397641                 6.609683
2                  8.735376                 7.039197
3                  6.257577                 6.734926
4                  4.367158                 7.167052

In [12]:
len(df)

1476

In [13]:
eng_greater = 0
zh_greater = 0

In [14]:
for index, row in df.iterrows():
    if row['retrained_eng_ngram_surp'] > row['retrained_zh_ngram_surp']:
        eng_greater +=1
    elif row['retrained_eng_ngram_surp'] < row['retrained_zh_ngram_surp']:
        zh_greater +=1

In [15]:
print(zh_greater)

1119

In [16]:
print(eng_greater)

357