In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('redone_cs_dep.csv')

In [3]:
df.head()

   redone_eng_dep_surp  redone_zh_dep_surp
0             3.326397            6.469786
1             4.305243            6.199071
2             3.837476            5.202944
3             2.141886            1.262869
4             3.321008            2.760256

In [4]:
len(df)

1476

In [5]:
zh_greater = 0
eng_greater = 0

In [7]:
for index, row in df.iterrows():
    if row['redone_eng_dep_surp'] > row['redone_zh_dep_surp']:
        eng_greater +=1
    elif row['redone_eng_dep_surp'] < row['redone_zh_dep_surp']:
        zh_greater +=1

In [8]:
print(zh_greater)

1150

In [9]:
print(eng_greater)

326

In [16]:
df = pd.read_csv('redone_cs_ngram.csv')

In [17]:
df.head()

   redone_eng_ngram_surp  redone_zh_ngram_surp
0               5.434282              5.630717
1               4.800256              5.630717
2               1.404422              4.787219
3               1.404422              2.000932
4               2.291965              5.630717

In [18]:
len(df)

1476

In [19]:
eng_greater = 0
zh_greater = 0

In [20]:
for index, row in df.iterrows():
    if row['redone_eng_ngram_surp'] > row['redone_zh_ngram_surp']:
        eng_greater +=1
    elif row['redone_eng_ngram_surp'] < row['redone_zh_ngram_surp']:
        zh_greater +=1

In [21]:
print(zh_greater)

962

In [22]:
print(eng_greater)

514

In [30]:
df = pd.read_csv('non_cs_dep.csv')

In [31]:
df.head()

    eng_surp    zh_surp
0  4.2655845   4.308516
1   4.688367   4.218408
2  4.3997364  5.2029443
3  5.9345765  3.7550967
4    4.41731  4.4660563

In [32]:
len(df)

1479

In [33]:
eng_greater = 0
zh_greater = 0

In [34]:
for index, row in df.iterrows():
    if row['eng_surp'] > row['zh_surp']:
        eng_greater +=1
    elif row['eng_surp'] < row['zh_surp']:
        zh_greater +=1

In [35]:
print(zh_greater)

1117

In [36]:
print(eng_greater)

359

In [15]:
df = pd.read_csv('non_cs_ngram.csv')

In [16]:
df.head()

   eng_surp   zh_surp
0  1.404422  1.618957
1  1.404422  2.000932
2  1.404422  3.497618
3  2.194647  2.000932
4  2.459192  5.059609

In [17]:
len(df)

1476

In [18]:
eng_greater = 0
zh_greater = 0

In [20]:
for index, row in df.iterrows():
    if row['eng_surp'] > row['zh_surp']:
        eng_greater +=1
    elif row['eng_surp'] < row['zh_surp']:
        zh_greater +=1

In [21]:
print(zh_greater)

826

In [22]:
print(eng_greater)

650